<html>
    <head>
        <title>All Product</title>
    </head>
    <body>
        <h1>All Product</h1>
        <% console.log(products) %>
    <% for(var i=0; i<products.length; i++) { %>
    <h1><% products[i]._id %></h1>
     <h1> <a href="/products/<%=products[i]._id%>" ><%=products[i].name %></a> </h1>
        
    <% } %>
    </body>
</html>