<html>
    <head>
        <title>Product</title>
    </head>
    <body>
        <h1>Product</h1>
        <% console.log(request.product)%>
        <h2>name:<%=request.product.name %></h2>
        <p> <%= request.product.description %> </p>
        <p> <%= request.product.created %> </p>
    </body>
</html>